@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

@layer components {
  .nav-link {
    @apply relative;
  }
  .nav-link::after {
    @apply absolute left-0 bottom-0 h-0.5 bg-ultra-yellow w-0 transition-all duration-300;
    content: '';
  }
  .nav-link:hover::after {
    @apply w-full;
  }
  .nav-link:hover {
    @apply scale-105;
  }
  .dropdown-arrow {
    @apply text-ultra-yellow text-xs sm:text-sm transition-transform duration-300;
  }
  .group:hover .dropdown-arrow {
    @apply rotate-180;
  }
}